*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    background-color: #475d9f;
    color: #fff;
    border-bottom: 1px solid #2c3863;
    height: 60px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
}
.btn1{
    position: absolute;
    left: 5px;
}
.search{
    position: absolute;
    margin-left: 100px;
    margin-right: 100px;
}
.btn2{
    position: absolute;
    right: 5px;
}

.searchbar{
    color:#ffffff;
    border-radius: 4px;
    border: 1px solid #2c3863;
    background-color: #323f6b;
    padding: 6px;
    margin-left: 8px;
    margin-top: 8px;
    width:550px;
    height: 40px;
}
.container{
    background-color: #d7d8dc;
    padding-bottom: 50px;
    padding-top: 42px;
}
.footer{
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #bbb;
    height: 80px;
}
.tab1{
    float: left;
    width: 25%;
    text-align: center;
}
.tab2{
    float: left;
    width: 25%;
    text-align: center;
}
.tab3{
    float: left;
    width: 25%;
    text-align: center;
}
.tab4{
    float: left;
    width: 25%;
    text-align: center;

}
.feed{
    background-color: #ffffff;
    border-top:1px solid #c0c0c0;
    border-bottom:1px solid #c0c0c0 ;
    margin: 7px 0;
    padding: 12px;
}
.data{
    color: #999;
    margin-bottom: 10px;
}
.title{
    color: #6184dddd;
    font-weight: 600;
}
.content{
    margin-top: 5px;
}
.accessory{
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin-top: 10px;
    color: #999;
    font-size: 14px;
}